.card {
  z-index: 10;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--dark-500, #333);
  max-width: 26.25rem;
  height: 28.5rem;
  margin-top: 150px;
  padding: 2.06rem 2.25rem 1.81rem;
}

.header {
  margin: 0 0 1.4rem;
  text-align: center;
}

.text {
  margin-bottom: 3rem;
  color: var(--color-light-900);
}

.button {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  width: 84%;
  padding: 6px 28px;
}

.question {
  margin-top: 0.6rem;
  color: var(--color-light-900);
  text-align: center;
}

.link {
  color: var(--color-accent-500);
  text-align: center;
}
