.card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;

  width: 420px;
  height: 420px;
  margin-top: 150px;
  padding: 36px;
}

.headear {
  text-align: center;
}

.iconUser {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 1rem;
  margin-left: 8rem;
}

.avatar {
  width: 96px;
  height: 96px;
}

.button {
  background-color: var(--color-accent-700);
}
