.card {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 26.25rem;
  height: 26.25rem;
  margin-top: 150px;
  padding: 2.06rem 2.25rem 5rem;
}

.headear {
  text-align: center;
}

.iconUser {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 6rem;
  height: 6rem;
  margin-top: 1rem;
  margin-left: 8rem;
}
