.primary {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 6px 28px;
  background-color: var(--color-accent-700);
  border-radius: 4px;
}

.secondary {
  background-color: green;
}

.tertiary {
  background-color: blue;
}

.link {
  background-color: yellow;
}

.fullWidth {
  width: 100%;
}
