.box {
  position: absolute;

  display: flex;
  flex-direction: column;

  width: 542px;

  background: var(--dark-700, #171717);
}

.center {
  display: flex;
  gap: 434px;
  align-items: flex-start;

  width: 542px;
  padding: 18px 24px;

  background: var(--dark-700, #171717);
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  width: 542px;
  padding: 18px 24px;

  background: var(--dark-700, #171717);
  border-bottom: 1px solid var(--dark-500, #333);
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.buttons {
  display: flex;
  gap: 263px;
  align-items: flex-start;
  justify-content: center;

  width: 542px;
  height: 84px;
  padding: 12px 24px 36px;

  background: var(--dark-700, #171717);
}
