.card {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  margin-top: 150px;
}

.show {
  position: absolute;
  top: 120px;
  right: 60%;
  border-bottom: 1px solid var(--dark-500, #333);
}
