.card {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  width: 1000px;
  margin-top: 100px;
}

.form {
  position: absolute;
  top: 60px;
  left: 35%;
}

.header {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;

  margin: 10px 0;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0;
}

.show {
  position: absolute;
  top: 120px;
  right: 60%;
}

.showDel {
  position: absolute;
  top: 120px;
  right: 60%;
}

.showEdit {
  position: absolute;
  top: 120px;
  right: 32%;
}
