.headerDeck {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

.buttonContent {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.s {
  position: absolute;
}
