.common {
  position: relative;
  z-index: 10;

  display: flex;
  flex-direction: column;

  width: 542px;

  border: 1px solid var(--dark-500, #333);
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  width: 542px;
  padding: 18px 24px;

  border-bottom: 1px solid var(--dark-500, #333);
}

.centerCommonent {
  flex-direction: column;
  gap: 24px;
  width: 542px;
  padding: 24px;
}

.button {
  display: flex;
  flex-shrink: 0;
  gap: 246px;
  align-items: flex-start;
  justify-content: center;

  width: 542px;
  height: 84px;
  padding: 12px 24px 36px;
}

.but1 {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  padding: 6px 28px;

  background: var(--primary-500, #8c61ff);
  border-radius: 4px;
  box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);
}

.but2 {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  padding: 6px 28px;

  background: var(--primary-500, #8c61ff);
  border-radius: 4px;
  box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);
}

.singIn {
  margin: 0 0 1rem;
  text-align: center;
}

.controlTextFieldEmail {
  margin-top: 2rem;
}

.forgotPassword {
  margin: 0 0 2rem;
  text-align: right;
}

.forgotPassword a {
  text-decoration: none;
}

.button {
  margin: 1.8rem 0 0;
}

.text {
  margin: 2rem 0 0;
  text-align: center;
}

.singUp {
  color: var(--color-accent-500);
  text-align: center;
}
