.common {
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between;

  width: 420px;
  height: 528px;
  margin-top: 200px;
  padding: 2.06rem 2.25rem 1.81rem;

  border: 1px solid var(--dark-500, #333);
}

.singIn {
  margin: 0 0 1rem;
  text-align: center;
}

.controlTextFieldEmail {
  margin-top: 2rem;
}

.forgotPassword {
  margin: 0 0 2rem;
  text-align: right;
}

.forgotPassword a {
  text-decoration: none;
}

.button {
  box-sizing: border-box;
  margin: 1.8rem 0 0;
}

.text {
  margin: 2rem 0 0;
  text-align: center;
}

.singUp {
  color: var(--color-accent-500);
  text-align: center;
}
